// Specific CSS for your home-page
.background-img-set {
  width: 100vw;
  height: 100vh;
}
.bg-img {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    flex-direction: column;
    justify-content: flex-start;
    padding: 4rem;
p {
  margin-top: 3rem;
  margin-bottom: 1rem;
  width: 35%;
  line-height: 2rem;
  // background-color: white;
  letter-spacing: 3px;
}

h1 {
  font-size: 3.5rem;
  letter-spacing: 9px;
  color: rgba(0,0,0,0.5)
}
}


