<div class="date-switcher-div">
  <% if @date != Date.today %>
    <%= link_to date_activities_path(date: (@date - 1).strftime("%Y-%m-%e")) do %>
    <h1><i class="far fa-arrow-alt-circle-left"></i></h1>
    <% end  %>
  <% end %>
  <div class="date-switcher-date-box">
    <h2><%= @date_show %></h2>
  </div>
  <div>
    <%= link_to date_activities_path(date: (@date + 1).strftime("%Y-%m-%e")) do %>
      <h1><i class="far fa-arrow-alt-circle-right"></i></h1>
    <% end %>
  </div>
</div>
