<div class="d-flex flex-column justify-content-between">
  <div class="dashboard-new-create" data-toggle="modal" data-target="#quickCreateModal">
    <h4>Create Event</h4>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="quickCreateModal" tabindex="-1" role="dialog" aria-labelledby="quick-create-modal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" style="margin-left: 15px;">
          <h3 class="modal-title" id="quick-create-modal">Create a new Event</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        <%= render 'shared/quick-create-modal', activity_post: ActivityPost.new %>
      </div>
    </div>
  </div>
</div>
