
<span onclick="openNav()"><i class="fas fa-bars"></i></span>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <div class="d-flex align-items-center">
    <%= link_to my_activities_path do %>
    <div class="mylink_container">
      <h4>
        My Bookings
      </h4>
    </div>
    <% end %>
  </div>
      <%= link_to root_path do %>
    <div class="mylink_container">
      <h4>
        Log Out
      </h4>
    </div>
    <% end %>
  </div>
</div>

<script>
  function openNav() {
    var e = document.getElementById("mySidenav");
    if (e.style.width == '250px')
    {
      e.style.width = '0px';
    }
    else
    {
      e.style.width = '250px';
    }
  }

  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
  }
</script>
