<div class="sidenav">
    <div class="sidenav__close-icon">
     <i class="fas fa-bars"></i>
    </div>
    <ul class="sidenav__list">
      <li class="sidenav__list-item">
      <%= link_to my_activities_path do %>
      My Activities
      <% end %>
      </li>
      <li class="sidenav__list-item">Search</li>
      <li class="sidenav__list-item">Filter</li>
      <li class="sidenav__list-item">Advanced</li>
    </ul>
  </div>
