<h1>Landing page : Join button</h1>
<div class="join_button" style="vertical-align:middle"><span>Join </span></div>
<br>
<br>
<br>
<h1>index page: </h1>
<h2>expand button</h2>
<h2>banners (for categories)</h2>
<h2>date-switcher (det som bläddrar mellan today och tomorrow, sen en datepicker)</h2>
<br>
<br>
<br>
<h1>My bookings page: </h1>
<h2>standard card</h2>

</div>
<div class="card_standard">
  <%= image_tag"logo.png"%>
  <div class="card_standard_container">
    <h2>Fika on the red bus at 14:30
    </h2>
  </div>
</div>
<br>
<br>
<h1>Join page:</h1>
<h2>wider standard card</h2>
<h2>create button</h2>
<br>
<br>
<br>
<h1>create page:</h1>
<h2>Create-standard-activity-button (with dropdown)</h2>
<h2>advance button to</h2>
