<h1>Nav-bar (button click)</h1>
 <i class="fas fa-bars"></i>
<br>
<br>
<br>
<h1>Nav-bar color</h1>
<div style="height: 200px; width: 100px; border: 1px solid black;">
  <p>color</p>
</div>

<h1>Main background</h1>
<div style="height: 200px; width: 200px; border: 1px solid black;">
  <p>color</p>
</div>
<br>
<h1>Header + title</h1>
<div style="height: 100px; width: 500px; border: 1px solid black;">
  <p>color</p>
</div>

<h1>Landing page : Join button</h1>
<div class="join_button" style="vertical-align:middle"><span>Join </span></div>
<br>
<br>
<br>
<h1>index page: </h1>
<h2>expand button</h2>
<br>
<div class="expand_button dot_container">
  <strong><span>.</span><span>.</span><span>.</span></strong>
</div>
<div class="card_standard_container">
  <div class="cards_expanded">
    <div class="card_standard">Fika klockan 14:00 med Ulla</div>
  </div>
</div>
<br>
<br>
<h2>banners (for categories)</h2>
<h2>date-switcher (det som bläddrar mellan today och tomorrow, sen en datepicker)</h2>
<br>
<br>
<br>
<h1>My bookings page: </h1>
<h2>standard card</h2>

</div>
<div class="card_standard">
  <%= image_tag"logo.png"%>
  <div class="card_standard_container">
    <h2>Fika on the red bus at 14:30
    </h2>
  </div>
</div>
<br>
<br>
<h1>Join page:</h1>
<h2>wider standard card</h2>
<h2>create button</h2>
<a href="#" class="create_event_button">
  <i class="fa fa-calendar-plus"></i>
</a>
<br>
<h2>Join an activity button</h2>
<br>
<h2>Cancel an activity button</h2>
<br>
<h1>create page:</h1>
<h2>Quick create: Create-standard-activity-button (with dropdown)</h2>
<h2>advance create  button</h2>
