
<div class="bg-img" style="background-image: url(<%= image_path 'IKEATogether_BG.jpg'%>)">
<!--   <div class="hero-wrapper">
 -->    <h1>IKEA Together</h1>
    <p>“Meeting new people potentially introduces you to new opportunities and there’s no telling how far these opportunities can take you.”</p>
 <div class="join_button" style="vertical-align:middle"><span>Join </span></div>

  <!-- </div> -->
</div>
