<h1>H1</h1>
<p>Paragraph</p>
<br><br><br>
<%= link_to "Browse activities", activity_posts_path  %>
<%= link_to "My bookings", my_activities_path  %>
<%= link_to "create new activity", new_activity_post_path %>
