
<div class="bg-img" style="background-image: url(<%= image_path 'beach.jpg'%>)">
    <div class="title-home">
      <h1>IKEA</h1> <h1 id="together-text">Together</h1>
    </div>
    <p>“It is in the meeting with co-workers will introduces you to new opportunities and there’s no telling how far these opportunities can take you.”</p>
    <%= link_to date_activities_path do %>
      <div class="btn btn-4 d-flex align-items-center justify-content-center">
        <span>Join</span>
      </div>
    <% end %>
  <!-- </div> -->
</div>
