
<div class="container">
  <div class="topleft wrapper">
  <%= link_to image_tag("Ingvar.jpg"), "the_testament.pdf" %>
</div>
</div>

<h1></h1>
<p></p>
<br><br><br>
<%= link_to "Browse activities", activity_posts_path  %>
<%= link_to "My bookings", my_activities_path  %>
<%= link_to "create new activity", new_activity_post_path %>
