
<div class="bg-img" style="background-image: url(<%= image_path 'beach.jpg'%>)">
    <div class="title-home">
      <h1>IKEA</h1> <h1 id="together-text">together</h1>
    </div>
    <p>“It is in the meeting with co-workers great ideas are created and there’s no telling how far they will take you. Let's make the future fantastic together!”</p>
    <%= link_to date_activities_path do %>
      <div class="btn btn-4 d-flex align-items-center justify-content-center">
        <span>Join</span>
      </div>
    <% end %>
  <!-- </div> -->
</div>
