
<div class="bg-img" style="background-image: url(<%= image_path 'IKEATogether_BG.jpg'%>)">
    <h1>IKEA Together</h1>
    <p>“It is in the meeting with co-workers will introduces you to new opportunities and there’s no telling how far these opportunities can take you.”</p>
<%= link_to date_activities_path do %>
  <div class="start_button d-flex align-items-center justify-content-center">
    <span>Join the Togetherness</span>
  </div>
<% end %>
  <!-- </div> -->
</div>
