<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="style.css">
  <title>IKEATogether</title>
</head>
<body>
   <div class="grid-container">
   <div class="menu-icon">
    <i class="fas fa-bars"></i>
  </div>

  <header class="header">
    <h1 class="main-text">IKEATogether</h1>
    <span class="Date">Today</span>
  </header>

  <aside class="sidenav">
    <div class="sidenav__close-icon">
     <i class="fas fa-bars"></i>
    </div>
    <ul class="sidenav__list">
      <li class="sidenav__list-item"><%= link_to "My booking", my_activities_path %></li>
      <li class="sidenav__list-item">Search</li>
      <li class="sidenav__list-item">Filter</li>
      <li class="sidenav__list-item">Advanced</li>
    </ul>
  </aside>

  <main class="main">
   <!--  <div class="main-header">
      <div class="main-header__heading">Hello User</div>
      <div class="main-header__updates">Recent Items</div>
    </div> -->

    <div class="main-overview">
      <div class="overviewcard">
        <div class="overviewcard__icon">Overview</div>
        <div class="overviewcard__info">Card</div>
      </div>
      <div class="overviewcard">
        <div class="overviewcard__icon">Overview</div>
        <div class="overviewcard__info">Card</div>
      </div>
      <div class="overviewcard">
        <div class="overviewcard__icon">Overview</div>
        <div class="overviewcard__info">Card</div>
      </div>
      <div class="overviewcard">
        <div class="overviewcard__icon">Overview</div>
        <div class="overviewcard__info">Card</div>
      </div>
    </div>
<!--
    <div class="main-cards">
      <div class="card">Card</div>
      <div class="card">Card</div>
      <div class="card">Card</div>
    </div>
  </main> -->

  <footer class="footer">
    <div class="footer__copyright">&copy; 2019 IKEA</div>
    <div class="footer__signature">Made with love by pure genius</div>
  </footer>
</div>
</div>
</body>
</html>
