<div class="text-center">
  <h2>My hosting events</h2>
</div>
<div class="container dashboard-container">
      <div class="dashboard-header-my-hosting">
        <h2>Today</h2>
      </div>
      <div class="dashboard-my-hosting-container">
          <%= render 'shared/my_hostings_today' %>
      </div>
      <div class="dashboard-header-my-hosting">
        <h2>Future Events</h2>
      </div>
      <div class="dashboard-my-hosting-container">
          <%= render 'shared/my_hostings_future' %>
      </div>
</div>
