<!-- <div class="container dashboard-container-my-hosting">
      <div class="dashboard-header-my-hosting">
        <h2>Today</h2>
      </div>
      <div class="dashboard-my-hosting-container">
          <%= render 'shared/my_joining_today' %>
      </div>
      <div class="dashboard-header-my-hosting">
        <h2>Future Events</h2>
      </div>
      <div class="dashboard-my-hosting-container">
          <%= render 'shared/my_joining_future' %>
      </div>
</div>
 -->
