<h1>This is my activity page!</h1>
<div class="d-flex">
  <div>
    <h2>Upcoming Activities</h2>
    <% @my_activity_post_joined.each do |post| %>
    <h3><%= link_to post.activity_post.category.name, activity_post_path(post.activity_post_id) %></h3>
    <% end %>
  </div>
  <div>
    <h2>Activities Im hosting</h2>
    <%@my_activity_posts_hosting.each do |post| %>
      <h3><%= link_to post.title, activity_post_path(post.id)  %></h3>
    <% end %>
  </div>
</div>

<%= link_to "Landing-page", root_path  %>

<%= link_to "Browse activities", activity_posts_path  %>
