.fas.fa-chevron-right {
  margin-left: 10px;
  color: black;
}

.fas.fa-chevron-left {
  margin-left: 10px;
  color: black;
}

.far.fa-arrow-alt-circle-left {
  color: black;
  padding-right: 14px;
  padding-top: 10px;
}
.far.fa-arrow-alt-circle-right {
  color: black;
  padding-left: 14px;
  padding-top: 10px;
}
