.avatar {
  width: 40px;
  border-radius: 50%;
  height: 40px;
  object-fit: cover;
}
.avatar-large {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
      margin-left: -5px;
  object-fit: cover !important;
  object-position: 100% 28% !important;
}
.avatar-bordered {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
  object-fit: cover;
  object-position: 100% 27%;
}
.avatar-square {
  width: 60px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
  object-fit: cover;
}
