
.banner {
  width: 100vw;
  padding-right: 0px;
  padding-left: 0px;
  border-radius: 20px;
  box-shadow: 0;
  position: relative;
}
#front-page-image {
    width: 100vw;
    border-radius: 20px;
    box-sizing: content-box;
    width: 100%;
    margin: 0px;
  }
