.dashboard-container {
  background-color: rgba(251, 251, 251, 0.95);
  width: 1200px;
  height: 770px;
  padding-left: 30px;
  box-shadow: 0px 4px 20px rgba(91, 91, 91, 0.25);
  h2 {
    margin-top: 20px;

  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 300;
font-size: 36px;
line-height: 42px;
color: #000000;
  }
}

.dashboard-category-container {
display: flex;
width: 180px;
height: 113px;
align-items: center;
justify-content: center;
h4 {
  font-family: Roboto;
font-style: normal;
font-weight: bolder;
font-size: 22px;
line-height: 26px;
text-align: center;

color: #FFFFFF;
  }
}

.dashboard-new {
width: 140px;
height: 41px;
background: #EFEFEF;
padding-top: 10px;
margin: 10px 0px;
border: 1px dashed #4E4E4E;
text-align: center;
border-radius: 2px;
  h4 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #009975;
  }
  &:hover{
  transform: scale(1);
  box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
  cursor: pointer;
  }
}
.dashboard-new-text-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  p{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;

  }
}
.dashboard-activities-container {
  display: flex;
  flex-direction: column;
  flex-grow:1;
  overflow-y: scroll;
}

.dashboard-next-up-container {
width: 295px;
height: 475px;
background: rgba(0, 153, 117, 0.75);
box-shadow: 0px 4px 10px rgba(172, 172, 172, 0.25);
border-radius: 2px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: start;

}
