.header-style {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
}

.header-style-bold {
padding-left: 15px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 60px;
text-align: center;
letter-spacing: 6px;
color: #000000;
}
.header-style-regular {
padding-left: 15px;
font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 60px;
letter-spacing: 2px;
color: #000000;
}

#quick-create-modal{
  font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 32px;
color: #000000;
}
