.header-style-bold {
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 37px;
text-align: center;
letter-spacing: 0.08em;
color: #000000;
}
.header-style-regular {
font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 32px;
line-height: 37px;
color: #000000;
}
