
a:link {
  text-decoration: none;
}

.join_event {
  padding-top: 10px;
  height: 70px;
  background: #E5DE22;
  // border-radius: 0px 5px 5px 0px;
  // h4 {
  //   text-decoration: none !important;
  //   font-size: 16px;
  //   letter-spacing: 3px !important;
  //   color: #FFF;
  //   text-align: center;
  //   &:hover{
  //     color: black;
  //   }
  // }
}

.cancel_event {
  padding-top: 6px;
  height: 70px;
  background: #F83A08;
  // border-radius: 0px 5px 5px 0px;
    // h4 {
    // font-size: 13px;
    // letter-spacing: 3px !important;
    // color: #FFF;
    // text-align: center;
    // &:hover{
    //   color: black;
    // }
  // }
}

// .join_button {
//   display: inline-block;
//   border-radius: 14px;
//   background-color: #338313;
//   border: none;
//   color: #FFFFFF;
//   text-align: center;
//   font-size: 13px;
//   padding: 5px;
//   width: 12%;
//   transition: all 0.5s;
//   cursor: pointer;
//   margin: 5px 82px;
//   font-weight: bold;
//   letter-spacing: 3px;
//   /* line-height: 3; */
//   height: fit-content;
//   font-family: $join-btn;
// }

// .join_button span {
//   cursor: pointer;
//   display: inline-block;
//   position: relative;
//   transition: 0.5s;
// }

// .join_button span:after {
//   content: '\00bb';
//   position: absolute;
//   opacity: 0;
//   top: 0;
//   right: -20px;
//   transition: 0.5s;
// }

// .join_button:hover span {
//   padding-right: 25px;
// }

// .join_button:hover span:after {
//   opacity: 1;
//   right: 0;
// }
