
.kork-container{
    border: 10px solid black;
    margin: 10px;
    height: 80vh;
    border-radius: 5px;
}

.kork-row {
  height:100%;
}

.kork-next-up{
  border: 5px solid black;
  height: 70%;
  width: 90%;
}
