.next_up_card {
  width: 250px;
  height: 70px;
  background: #FFF;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // border-radius: 5px;
  margin: 5px;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
    h4 {
      font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 26px;
text-align: center;
color: #000000;
    }

}
.icon-medium {
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.far.fa-plus-square {
  padding-top: 18px;
  color: white;
  height: 30px;
  width: 30px;
}

.far.fa-minus-square {
  padding-top: 18px;
  color: white;
  height: 30px;
  width: 30px;
}
.join_next_event {
  padding-top: 10px;
  height: 70px;
  background: #E5DE22;
  // border-radius: 0px 5px 5px 0px;
  // h4 {
  //   text-decoration: none !important;
  //   font-size: 16px;
  //   letter-spacing: 3px !important;
  //   color: #FFF;
  //   text-align: center;
  //   &:hover{
  //     color: black;
  //   }
  // }
}
.cancel_next_event {
  padding-top: 6px;
  height: 70px;
  background: #F83A08;
  // border-radius: 0px 5px 5px 0px;
    // h4 {
    // font-size: 13px;
    // letter-spacing: 3px !important;
    // color: #FFF;
    // text-align: center;
    // &:hover{
    //   color: black;
    // }
  // }
}

.small-container-btn {
  background-color: #305e72;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height: 100%;
  width: 45px;
  display: flex;
    flex-direction: column;
    align-items: center
}
.small-join-btn {
  border: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  z-index: 100;
  transform: scale(1);
    transition: box-shadow 0.1s ease, transform 0.1s ease;
    &:hover {
      transform: scale(0.8);
    }
}


.small-card-product {
    overflow: hidden;
    justify-content: space-between;
    height: 80px;
    background: white;
    width: 95%;
    border-radius: 3px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    margin: 0;
    margin-bottom: 10px;
    width: 87%;
    margin-top: 20px;
    transform: scale(1);
    transition: box-shadow 0.1s ease, transform 0.1s ease;
    &:hover {
      transform: scale(1.01);
    }
  .small-card-product-infos {
    h2 {
      padding-right: 4px;
      padding-left: 4px;
      font-size: 12px;
      font-family: 'sans-serif';
      font-weight: bold;
      margin: 0;
      margin-bottom: -6px;
    }

  }

  .fas.fa-plus {
    color: #fff;
    font-size: 22px;
}
}

.location  p {
      margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 12px;
    }

.small-card-product .card-content {
  padding: 16px;
  flex-grow: 1;
  display: flex;
  align-items: left;
  flex-direction: column;
  margin-left: 5px;
  margin-right: 5px;
}

.small-card-product img {
  height: 100%;
  width: 80px;
  object-fit: cover;
  object-position: 50% 100%;
}
